body {
    background-color: #e1eaf3;
}

#book-results {
    background: hsl(149, 77%, 76%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(152, 74, 74, 0.1);
}

.book-info {
    margin-top: 25px;
}

.book-info p {
    margin: 0;
}
